{# templates/login/index.html.twig #}
{% extends 'security_layout.html.twig' %}

{# ... #}

{% block body %}
    <div class="login-right-wrap">
        <h1>Login</h1>
        <p>
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </p>

        <form action="{{ path('app_login') }}" method="post">
            <div class="form-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
        </form>
        <div class="text-center forgotpass"><a href="#">Mot de passe oublié?</a> </div>
        <div class="login-or"> <span class="or-line"></span> <span class="span-or">ou</span> </div>
        <div class="social-login"> <span>Se connecter avec </span> <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i class="fab fa-google"></i></a> </div>
        <div class="text-center dont-have">Vous n'avez pas encore de compte? <a href="#">Créer un compte</a></div>
    </div>
{% endblock %}