<form method="post" action="{{ path('app_backend_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('VOulez-vous supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>
